# Natural Language Processing with Disaster Tweets

This is the link of the competition: https://www.kaggle.com/competitions/nlp-getting-started/overview

In [1]:
# Importing libraries
import pandas as pd
import string
import re
from nltk.corpus import stopwords 
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

# scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

pd.set_option('display.max_colwidth', None)

In [2]:
# This is the sample format way to submit the contest
file_loc = '../data/sample_submission.csv'
df = pd.read_csv(file_loc)
df.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

# Machine Learning

In [3]:
file_loc_train = '../data/train.csv'
file_loc_test = '../data/test.csv'
df = pd.read_csv(file_loc_train)
df_test = pd.read_csv(file_loc_test)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [4]:
df.head(100).loc[df['target']== 1, 'text']

0                                                                              Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
1                                                                                                             Forest fire near La Ronge Sask. Canada
2              All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected
3                                                                                  13,000 people receive #wildfires evacuation orders in California
4                                                           Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school
5                                     #RockyFire Update => California Hwy. 20 closed in both directions due to Lake County fire - #CAfire #wildfires
6                                                    #flood #disaster Heavy rain causes flash flooding of streets in Manitou, Colorado Springs areas
7                                                                                        I'm on top of the hill and I can see a fire in the woods...
8                                                                    There's an emergency evacuation happening now in the building across the street
9                                                                                               I'm afraid that the tornado is coming to our area...
10                                                                                                       Three people died from the heat wave so far
11                 Haha South Tampa is getting flooded hah- WAIT A SECOND I LIVE IN SOUTH TAMPA WHAT AM I GONNA DO WHAT AM I GONNA DO FVCK #flooding
12                                                                      #raining #flooding #Florida #TampaBay #Tampa 18 or 19 days. I've lost count
13                                                                                                           #Flood in Bago Myanmar #We arrived Bago
14                                                                                          Damage to school bus on 80 in multi car crash #BREAKING
31                                                                                           @bbcmtd Wholesale Markets ablaze http://t.co/lHYXEOHY6C
33                                                                #AFRICANBAZE: Breaking news:Nigeria flag set ablaze in Aba. http://t.co/2nndBGwyEi
37                                                                                           INEC Office in Abia Set Ablaze - http://t.co/3ImaomknnA
38      Barbados #Bridgetown JAMAICA ÛÒ Two cars set ablaze: SANTA CRUZ ÛÓ Head of the St Elizabeth Police Superintende...  http://t.co/wDUEaj8Q4J
46                                                 How the West was burned: Thousands of wildfires ablaze in California alone http://t.co/vl5TBR3wbr
50                                                                         Deputies: Man shot before Brighton home set ablaze http://t.co/gWNRhMSO8k
51                                                                      Man wife get six years jail for setting ablaze niece\nhttp://t.co/eV1ahOUCZA
53                                                   Police: Arsonist Deliberately Set Black Church In North CarolinaåÊAblaze http://t.co/pcXarbH9An
55           #Kurds trampling on Turkmen flag later set it ablaze while others vandalized offices of Turkmen Front in #Diyala http://t.co/4IzFdYC3cg
56                                                 TRUCK ABLAZE : R21. VOORTREKKER AVE. OUTSIDE OR TAMBO INTL. CARGO SECTION. http://t.co/8kscqKfKkF
59        How the West was burned: Thousands of wildfires ablaze in #California alone http://t.co/iCSjGZ9tE1 #climate #energy http://t.co/9FxmN0l0Bd
63        @Navista7 Steve these fires out here are something else! California is a tinderbox - and this clown was setting my 'hood ablaze @News24680
65                                                                      @nxwestmidlands huge fire at Wholesale markets ablaze http://t.co/rwzbFVNXER
68                                                Accident on I-24 W #NashvilleTraffic. Traffic moving 8m slower than usual. https://t.co/0GHk693EgJ
69                       Accident center lane blocked in #SantaClara on US-101 NB before Great America Pkwy #BayArea #Traffic http://t.co/pmlOhZuRWR
72       Reported motor vehicle accident in Curry on Herman Rd near Stephenson involving an overturned vehicle. Please use... http://t.co/YbJezKuRW1
73                                                                                                               BigRigRadio Live Accident Awareness
74                                                        I-77 Mile Marker 31 South Mooresville  Iredell Vehicle Accident Ramp Closed at 8/6 1:18 PM
77                                                                               Traffic accident N CABRILLO HWY/MAGELLAN AV MIR (08/06/15 11:03:58)
78                                                   I-77 Mile Marker 31 to 40 South Mooresville  Iredell Vehicle Accident Congestion at 8/6 1:18 PM
79                                                       the pastor was not in the scene of the accident......who was the owner of the range rover ?
81                                                I was in a horrible car accident this past Sunday. I'm finally able to get around. Thank you GOD??
83              #TruckCrash Overturns On #FortWorth Interstate http://t.co/Rs22LJ4qFp Click here if you've been in a crash&gt;http://t.co/Ld0unIYw4k
84                                                                   Accident in #Ashville on US 23 SB before SR 752 #traffic http://t.co/hylMo0WgFI
85          Carolina accident: Motorcyclist Dies in I-540 Crash With Car That Crossed Median: A motorcycle rider traveling... http://t.co/p18lzRlmy6
86                                                                               FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;NHS;999 PINER RD/HORNDALE DR
87    RT nAAYf: First accident in years. Turning onto Chandanee Magu from near MMA. Taxi rammed into me while I was halfway turned. Everyone confÛ_
88                  Accident left lane blocked in #Manchester on Rt 293 NB before Eddy Rd stop and go traffic back to NH-3A delay of 4 mins #traffic
89                                                                                                   ;ACCIDENT PROPERTY DAMAGE; PINER RD/HORNDALE DR
91                                                                                         FYI CAD:FYI: ;ACCIDENT PROPERTY DAMAGE;WPD;1600 S 17TH ST
92                                                     8/6/2015@2:09 PM: TRAFFIC ACCIDENT NO INJURY at 2781 WILLIS FOREMAN RD http://t.co/VCkIT6EDEv
93                                                                   Aashiqui Actress Anu Aggarwal On Her Near-Fatal Accident http://t.co/6Otfp31LqW
94                                                                                                 Suffield Alberta Accident https://t.co/bPTmlF4P10
95        9 Mile backup on I-77 South...accident blocking the Right 2 Lanes at Exit 31 Langtree Rd...consider NC 115 or NC 150 to NC 16 as alternate
97          #BREAKING: there was a deadly motorcycle car accident that happened to #Hagerstown today. I'll have more details at 5 @Your4State. #WHAG
99                                                 only had a car for not even a week and got in a fucking car accident .. Mfs can't fucking drive .
Name: text, dtype: object

In [5]:
stop_w = set(stopwords.words('english'))

def preprocessing(sentence):
    
    wl = WordNetLemmatizer()
    sentence = sentence.strip()
    sentence = sentence.lower()
    list_word = sentence.split()
    pattern = 'http\S+'
    list_word = [wl.lemmatize(''.join(
                    [
                        c for c in char if not c.isdigit() 
                          and c not in string.punctuation
                    ]               
            ), pos='n' )
        for char in list_word
        if char not in stop_w
        and not re.match(pattern, char)
        ]
    
    return ' '.join(list_word)

In [6]:
df['clean_text'] = [preprocessing(s) for s in df['text']]

In [7]:
df.head(100).loc[df['target']== 1, 'clean_text']

0                                                                       deed reason earthquake may allah forgive u
1                                                                            forest fire near la ronge sask canada
2                            resident asked shelter place notified officer evacuation shelter place order expected
3                                                              people receive wildfire evacuation order california
4                                                           got sent photo ruby alaska smoke wildfire pours school
5                         rockyfire update  california hwy  closed direction due lake county fire  cafire wildfire
6                               flood disaster heavy rain cause flash flooding street manitou colorado spring area
7                                                                                        im top hill see fire wood
8                                                      there emergency evacuation happening building across street
9                                                                                    im afraid tornado coming area
10                                                                                 three people died heat wave far
11                     haha south tampa getting flooded hah wait second live south tampa gonna gonna fvck flooding
12                                                    raining flooding florida tampabay tampa   day ive lost count
13                                                                              flood bago myanmar we arrived bago
14                                                                     damage school bus  multi car crash breaking
31                                                                                  bbcmtd wholesale market ablaze
33                                                            africanbaze breaking newsnigeria flag set ablaze aba
37                                                                                    inec office abia set ablaze
38         barbados bridgetown jamaica ûò two car set ablaze santa cruz ûó head st elizabeth police superintende
46                                                           west burned thousand wildfire ablaze california alone
50                                                                        deputy man shot brighton home set ablaze
51                                                                 man wife get six year jail setting ablaze niece
53                                            police arsonist deliberately set black church north carolinaåêablaze
55                      kurd trampling turkmen flag later set ablaze others vandalized office turkmen front diyala
56                                                truck ablaze  r voortrekker ave outside tambo intl cargo section
59                                            west burned thousand wildfire ablaze california alone climate energy
63                          navista steve fire something else california tinderbox  clown setting hood ablaze news
65                                                                nxwestmidlands huge fire wholesale market ablaze
68                                                     accident i w nashvilletraffic traffic moving m slower usual
69                                 accident center lane blocked santaclara u nb great america pkwy bayarea traffic
72         reported motor vehicle accident curry herman rd near stephenson involving overturned vehicle please use
73                                                                             bigrigradio live accident awareness
74                                      i mile marker  south mooresville iredell vehicle accident ramp closed   pm
77                                                                traffic accident n cabrillo hwymagellan av mir
78                                      i mile marker   south mooresville iredell vehicle accident congestion   pm
79                                                                     pastor scene accidentwho owner range rover
81                                          horrible car accident past sunday im finally able get around thank god
83                                           truckcrash overturn fortworth interstate click crashgthttptcolduniywk
84                                                                             accident ashville u  sb sr  traffic
85                         carolina accident motorcyclist dy i crash car crossed median motorcycle rider traveling
86                                                      fyi cadfyi accident property damagenhs piner rdhorndale dr
87    rt naayf first accident year turning onto chandanee magu near mma taxi rammed halfway turned everyone confû
88                accident left lane blocked manchester rt  nb eddy rd stop go traffic back nha delay  min traffic
89                                                                    accident property damage piner rdhorndale dr
91                                                                    fyi cadfyi accident property damagewpd th st
92                                                                   pm traffic accident injury  willis foreman rd
93                                                                aashiqui actress anu aggarwal nearfatal accident
94                                                                                       suffield alberta accident
95                mile backup i southaccident blocking right  lane exit  langtree rdconsider nc  nc  nc  alternate
97                    breaking deadly motorcycle car accident happened hagerstown today ill detail  yourstate whag
99                                                  car even week got fucking car accident  mf cant fucking drive
Name: clean_text, dtype: object

In [8]:
# The vectorizer model
vectorizer = TfidfVectorizer()

# Transform the text data to feature vectors
X = vectorizer.fit_transform(df['clean_text'])
y = df['target']
words_weight = pd.DataFrame(X.toarray())
words_weight.columns = vectorizer.get_feature_names_out()
words_weight.index = y

,aa,aaaa,aaaaaaallll,aaaaaand,aaarrrgghhh,aaceorg,aal,aampb,aampw,aan,...,ûò,ûòthe,ûòåêcnbc,ûó,ûóbbc,ûóher,ûókody,ûónegligence,ûótech,ûówe
target,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:


# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize and train the classifier
lg = LogisticRegression()
lg.fit(X_train, y_train)

LogisticRegression()

In [10]:
# Predict on the test set
y_pred = lg.predict(X_test)

# Evaluate the performance
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f'Accuracy: {accuracy:.4f}')
print('Classification Report:')
print(report)

Accuracy: 0.8021
Classification Report:
              precision    recall  f1-score   support

           0       0.78      0.92      0.84      1318
           1       0.86      0.64      0.73       966

    accuracy                           0.80      2284
   macro avg       0.82      0.78      0.79      2284
weighted avg       0.81      0.80      0.80      2284

In [13]:
# Submit with the model 
df_test['clean_text'] = [preprocessing(s) for s in df_test['text']]
pred = vectorizer.transform(df_test['clean_text'])
predictions = lg.predict(pred)

df_submit = pd.DataFrame({'id': df_test['id'], 'target': predictions})
df_submit.to_csv('submission_09_09_2024.csv', index=False)
df_submit.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [ ]:
"""
Logistic Regression model: was the same accuracy
list of keywords in TfidVectorizer(): it got worsed

"""

In [ ]:
# Accuracy score was 0.79436